@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply inline-flex items-center px-4 py-2 bg-primary-500 
        border border-transparent font-futura font-semibold text-xs
        text-white uppercase tracking-widest hover:bg-primary-700 rounded
        focus:bg-primary-700 active:bg-primary-700 focus:outline-none
        focus:ring-2 focus:ring-secondary-300 focus:ring-offset-2
        transition ease-in-out duration-150;
    }

    .button-outline {
        @apply inline-flex items-center px-4 py-2 bg-transparent 
        border-2 border-primary-500 font-futura font-semibold text-xs text-secondary-500 dark:text-white
        uppercase tracking-widest hover:border-primary-700 hover:bg-transparent 
        focus:border-primary-700 active:border-primary-700 focus:outline-none
        focus:ring-2 focus:ring-secondary-300 focus:ring-offset-2
        transition ease-in-out duration-150;
    }

    .title {
        @apply text-secondary-500 font-futura font-medium dark:text-gray-100;
    }
    .section-title {
        @apply title  text-3xl  font-bold leading-tight;
    }

    .section-text {
        @apply text-gray-500 dark:text-gray-400 leading-normal;
    }
}
@layer utilities {
   
   
}

[x-cloak] {
    display: none;
}
